* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.step,
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

button {
  border: 1px solid black;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  user-select: none;
}
